[submodule "hardware/case/RaspberryPi"]
	path = hardware/case/RaspberryPi
	url = https://github.com/RalfLangeDresden/RaspberryPiCases
[submodule "hardware/kicad/kwan_kicad_lib"]
	path = hardware/kicad/kwan_kicad_lib
	url = https://github.com/kwan3217/kwan_kicad_lib.git
