- name: Install FlightAware APT repository meta-package
  apt:
    deb: https://www.flightaware.com/adsb/piaware/files/packages/pool/piaware/f/flightaware-apt-repository/flightaware-apt-repository_1.2_all.deb
  tags: piaware

- name: Install piaware and dump1090-fa
  apt:
    name:
      - piaware
      - dump1090-fa
    state: present
    update_cache: yes
  tags: piaware

- name: Set FlightAware feeder-id
  ansible.builtin.copy:
    content: "{{ piaware_feeder_id }}\n"
    dest: /var/cache/piaware/feeder_id
    owner: root
    group: root
    mode: "0644"
  notify: Restart piaware
  tags: piaware

- name: Enable and start piaware service
  systemd:
    name: piaware
    state: started
    enabled: yes
  tags: piaware

