---
- name: Ensure UART overlay is configured in /boot/firmware/config.txt
  ansible.builtin.lineinfile:
    path: /boot/firmware/config.txt
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    insertafter: EOF
  loop:
    - { regexp: '^#?dtoverlay=uart2-pi5', line: 'dtoverlay=uart2-pi5' }
  notify: Reboot required
  tags: gpsd

- name: Install gpsd and clients
  apt:
    name:
      - gpsd
      - gpsd-clients
    state: present
  tags: gpsd

- name: Configure /etc/default/gpsd
  copy:
    dest: /etc/default/gpsd
    content: |
      DEVICES="/dev/ttyAMA2 /dev/pps0"
      GPSD_OPTIONS="-G -n -s 230400"
      USBAUTO="false"
    mode: "0644"
  notify: Restart gpsd
  tags: gpsd

- name: Override gpsd.socket to listen on all interfaces and permissive Unix socket
  ansible.builtin.copy:
    src: files/10-ansible.conf
    dest: /etc/systemd/system/gpsd.socket.d/10-ansible.conf
    owner: root
    group: root
    mode: "0644"
  notify:
    - Daemon reload
    - Restart gpsd
  tags: gpsd

- name: Ensure gpsd is enabled and running
  service:
    name: gpsd
    enabled: yes
    state: started
  tags: gpsd


